@model CategoryVM
@{
    ViewData["Title"] = "UpdateCategory";
}

<div class="panel panel-primary">
    <div class="panel panel-header">
        <h2>Kategori Ekle</h2>
        <form asp-action="UpdateCategory" method="post">
            @Html.HiddenFor(x=> x.Category.ID)
            <div>
                <input asp-for="Category.Name" type="text" 
                       placeholder="Kategori Adı Giriniz"/>
                <br /><br />
                <input asp-for="Category.Description"   type="text" 
                       placeholder="Kateogir Açıklaması Giriniz"/>
                <br /> <br />
                <button>Güncelle</button>
            </div>
        </form>
    </div>
</div>

